/* Reset and Box Model */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root Font and Color Definitions */
:root {
    --sidebar-bg-color: #343a40;
    --sidebar-text-color: #fff;
    --sidebar-hover-bg-color: #495057;
    --link-active-bg-color: #007bff;
    --sidebar-link-color: #9da0a4;
    --sidebar-hover-link-color: #dcdde1;
}

/* Basic HTML and Body Styles */
html, body {
    height: 100%;
    font-size: 14px; 
    position: relative;
    min-height: 100%;
}

/* Responsive Font Size Adjustment */
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/* Main Layout Containers */
.container-fluid {
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

#main {
    overflow-y: auto;
}

/* Sidebar Specific Styles */
#sidebar {
    background-color: var(--sidebar-bg-color);
    color: var(--sidebar-text-color);
    box-sizing: border-box;
    height: 100vh;
    padding: 1rem;
    display: flex;
    flex-direction: column; 
    position: relative;
    resize: horizontal; 
    overflow: auto;
    max-width: 100%; 
    min-width: 150px;
}

#sidebar .nav-link {
    color: white;
    padding: 10px 15px;
    transition: background-color 0.3s ease-in-out;
}

#sidebar .nav-link:hover {
    background-color: var(--sidebar-hover-bg-color);
    text-decoration: none;
}

#sidebar .nav-link.active {
    background-color: var(--link-active-bg-color);
    color: white;
}

#sidebar .mt-auto {
    align-self: start;
    width: 100%;
}

#sidebar .mt-auto .nav-link {
    padding: 8px 15px; 
    border-top: 1px solid var(--sidebar-link-color);
}


#sidebar .mt-auto a {
    display: block;
    color: var(--sidebar-link-color);
    transition: color 0.2s ease-in-out;
}

#sidebar .mt-auto a:hover {
    color: var(--sidebar-hover-link-color);
}

#sidebar.collapsed {
    width: 0;
    min-width: 0;
}

#sidebar.collapsed .resizer-handle {
    display: none;
}

.resizer-handle {
    height: 100%; 
    width: 10px; 
    position: absolute;
    right: 0;    
    top: 0;       
    cursor: ew-resize;
    z-index: 9999; 
}

.resizer-handle:hover {
    background-color: rgba(100, 100, 100, 0.5); 
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/* Sidebar responsive design elements */
@media (max-width: 576px) {
    #sidebar {
        width: 100%; // Ensures full width on small screens
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    #sidebar {
        width: 30%; // Example for slightly larger screens
    }
}

@media (min-width: 769px) {
    #sidebar {
        width: 25%;
    }
}

@media (min-width: 992px) {
    #sidebar {
        width: 20%;
    }
}

@media (min-width: 1200px) {
    #sidebar {
        width: 16.66666667%;
    }
}



